/* This is the custom stylesheet */
.form-signin-min {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

li.nav-item{
    margin-right: 5px;
}
.signin-logo img{
    width: 72px !important;
    height: 72px !important;
}
.signin-wrapper {
    
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    height: calc(90vh) !important;
    background-image: url("hero/h1.jpg");
    background-size: cover;
}
.display-3 {
    font-size: 2.5rem !important;
   
}
.navbar-brand img {
    width: 40px;
}
.card-title {
    margin-bottom: 0.75rem;
    text-align: center;
}
img.img-fluid.rounded-circle  {
    width: 40px !important;
}
.profil-wraper{
    margin-top: 20px;
    margin-bottom: 20px;
}


.act-panel {
    /*position: fixed;*/
    top: 45px;
    bottom: 0;
    width: 190px;
    overflow: hidden;
    
    z-index: 1000;
    padding: 0 0 20px;
    transition: top .2s ease-in-out;
    transform: translate3d(0,0,0);
}

.act-panel-wr {
    position: relative;
    padding: 0;
    width: 100%;
    overflow: hidden;
        overflow-y: hidden;
    overflow-y: auto;
    height: 100%;
}
act-main-menu-item.active, .act-main-menu-item:hover {
    color: #0056FF;
}
act-main-menu {
    margin-top: 10px;
    font-size: 14px;
}

.act-main-menu-item {
    display: block;
    padding: 10px 30px;
    position: relative;
    font-weight: 400;
    font-size: 13px;
    white-space: nowrap;
    transition: .3s color;
}
.act-main-menu-item .icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 2px;
    width: 20px;
    height: 20px;
    margin: auto;
    opacity: .5;
}

.act-main-nav-buble {
    line-height: 18px;
    font-size: 11px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    background: #FF1744;
    position: absolute;
    min-width: 18px;
    height: 18px;
    bottom: 0;
    top: 0;
    margin: auto;
    right: 10px;
    border-radius: 10px;
    transform: translateX(0);
    transition: transform .2s ease-in-out;
}
.act-main-nav-buble.empty {
    transform: translateX(40px);
}
.act-panel-user-pic {
    overflow: hidden;
    padding-top: 15px;
    transition: all .2s ease-out;
}

.act-panel-user-name {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px;
    font-size: 14px;
    max-width: 100px;
}
.act-panel-switch, .act-panel-user-avatar, .act-panel-user-name {
    display: inline-block;
    vertical-align: middle;
}

.act-panel-user-avatar .avatar-placeholder, .avatar .avatar-placeholder {
    border-radius: 50%;
}
.avatar-placeholder {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f7f7f7;
    position: relative;
}
.avatar-placeholder img {
    vertical-align: middle;
    border-style: none;
    width: 45px;
    border-radius: 50%;
}